body{
    display: flex;
    justify-content: center;
    align-content: center;
}

#container{
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 40, 40);
}


#screen{
    overflow: hidden;
    margin: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    height: 100px;
    width: 280px;
    border-radius: 10px;
    background-color: rgba(177, 218, 161, 0.541);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;

}

#button-layout{
    flex-grow: 1;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    height: 280px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row{
    display: flex;
    height: 40px;
    width: 280px;
    flex-grow: 1;
}

.calcbuttons{
    flex-basis: 25%;
    border-radius: 10px;
    flex-shrink: 0;
    color: white;
    font-weight: 900;
    border: 1px solid black;
}

.calcbuttons.operations{
    background-color: orange;
}

.calcbuttons.numbers{
    background-color: rgb(18, 18, 100);
}

#enter{
    flex-basis: 50%;
    background-color: green;
}

#clear{
    background-color: #1e9181;
}

#back{
    background-color: rgb(114, 12, 12);
}

#toggle{
    background-color: #1e9181;
}

#decimal{
    background-color: #1e9181;
}

