body{
    display: flex;
    justify-content: center;
}

#container{
    box-sizing: border-box;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
}

#screen{

    margin: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    height: 110px;
    width: 280px;
    border-radius: 10px;
    background-color: white;
}

#button-layout{
    flex-grow: 1;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    height: 280px;
    width: 280px;
    border-radius: 10px;
    background-color: beige;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    height: 40px;
    width: 280px;
    flex-grow: 1;

}

.calcbuttons{
    flex-basis: 25%;
    border-radius: 10px;
    gap: 5px;
    flex-shrink: 0;
    color: white;
    font-weight: 900;
}

.calcbuttons.operations{
    background-color: orange;
}

.calcbuttons.numbers{
    background-color: rgb(18, 18, 100);
    color: white;
    font-weight: 900;
}

#enter{
    flex-basis: 50%;
    background-color: green;
}

#clear{
    background-color: #1e9181;
}

#back{
    background-color: rgb(114, 12, 12);
}

#toggle{
    background-color: #1e9181;
}

#decimal{
    background-color: #1e9181;
}